
 <section class="footer">
   <div class="footer__nav">
      <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">HOME</a></li>
        <li><a href="#">HOME</a></li>
        <li><a href="#">HOME</a></li>
      </ul>
   </div>
   <div class="footer__rights">
     <p>All rights reserved</p>
   </div>
 </section>
 </body>
  <script src='/javascripts/menu-index.js'></script>
</html>

<style>
  .footer {
    background-color: rgba(128, 128, 128, 0.541);
    margin-top: 50%;
    display: flex;
    
  }

  .footer__nav {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer__nav > ul {
    display: flex;
    justify-content: space-around;
  }
  .footer__nav > ul > li {
    list-style: none;
    width: 140px;
  }
  .footer__nav > ul > li > a {
   display: block;
   color: white;
   text-decoration: none;
  }
  .footer__rights {
  
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
  }

  .footer__rights {
    width: 25vw;
  }
</style>