<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Vlaminck'14 Bistro-grill and Restaurent in Brugge - Vlaminck'14 Bistro-grill and Restaurent</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="language" content="NL">
    
    <meta name="keywords" content=""/>
    <meta name="description" content="Traditonele vlaamse gerechten, verse vis, vlees en vegetarische gerechten op korte afstand van toeristische markt. De eerlijke gerechten aan eerlijke prijzen worden je met glimlach bedient."/>
    <meta name="robots" content="index, follow"/>
  </head>
  <nav>
    <div class="nav__logo">
      <img src='/images/logo.png' alt="Vlaminck'14 logo" width= '315' height="100"/>
      <div class='hamburger'> <h2>|||</h2> </div>
    </div>
    <ul class='nav__items'>
      <li class='nav__item mobile__item'>
        <a href='/' class="nav__link mobile__link">HOME</a>
      </li>

       <li class='nav__item mobile__item'>
        <a href='/menu' class="nav__link mobile__link">OUR MENU</a>
      </li>

      <li class='nav__item mobile__item'>
        <a href='/reserve' class="nav__link mobile__link">RESERVATION</a>
      </li>

       <li class='nav__item mobile__item'>
        <a href='#' class="nav__link mobile__link">OPENING HOURS</a>
      </li>

       <li class='nav__item mobile__item'>
        <a href='#' class="nav__link mobile__link">TESTIMONIALS</a>
      </li>

      
    </ul>
  </nav>
  <body>
   
