<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header1.css">
    <title>Vlaminck</title>
</head>
<body>
    
<nav>
    <ul>
        <li>
            <img src='/images/logo.png' height='90' width='260' />
        </li>
        <li>
            <a href="/"> HOME</a>
        </li>
        <li>
            <a href="/menu"> MENU</a>
        </li>
        <li>
            <a href="#"> REVIEWS</a>
        </li>
        <li>
            <a href="#"> CONTACT</a>
        </li>

        <li>
            <a href="/menu"> <button>RESERVE</button></a>
        </li>
    </ul>

    <div class="flag__container">
        <img src='/images/flag1.jpg' width='55' height='30' />
        <img src='/images/flag2.jpg' width='55' height='30' />
        <img src='/images/flag3.jpg' width='55' height='30' />
    </div>
</nav>



<!-- <section id='crawler'>
    <h2>Hello Vlaminck</h2>
</section> -->