<%- include('header')%>

<link rel='stylesheet' href='/stylesheets/home.css' />

<div class="container__slider">
    <div class="container__inner">
        
        <div class="slider__text">
            <h1>Vlaminck'14</h1>
            <h2>Bistro-Grill and Restaurant</h2>
            
        </div>
        <div class="slider__image" id='slider__1'>
            <img  class='image_slide' src='/images/slider1.jpg' width='1920' height='1020'/>
        </div>
<div class="reviews">
            <div class="reviews__card">
               <div class="reviews__content">
                   <h6><q><i>food and environment. Had a dinner with my family. The moment was awesome.</i></q>
                   <br>
                   <p><em> - Ayden</em></p>
                   </h6>
                   
                   <h1>★★★★★</h1>
                   <h5>trip Advisor</h5>
               </div>
            </div>   
        </div>

        <div class="button">
            <a href='/menu'><button>Order Now</button></a>
        </div>

        <div class="flag__container">
            <img src='/images/flag1.jpg' width='55' height='30' />
            <img src='/images/flag2.jpg' width='55' height='30' />
            <img src='/images/flag3.jpg' width='55' height='30' />
        </div>

    </div>
</div>

 <script src="/javascripts/menu-index.js"></script>
<%- include('footer')%>