<link rel='stylesheet' href='/stylesheets/login.css' />

<form action='/admin' method='POST' class='form__post'>

<h2>Admin Login</h2>
    <p>{{message}}</p>
    <input type='text' name='email' class='form__control' placeholder="Enter Email" required/>
    <input type='password' name='password' class='form__control' placeholder="Enter Password" required/>
    <input type='submit' class='form__submit' value='Login' />
</form>