<div class="reserve__container">
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2499.505081458533!2d3.222551515916807!3d51.20977064024154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c350d02267480f%3A0x3c2b0df846607674!2sVlaminck%20&#39;14!5e0!3m2!1sen!2snz!4v1615595979633!5m2!1sen!2snz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
</div>

<style>
    .reserve__container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: rgb(255,94,58);
background: linear-gradient(90deg, rgba(255,94,58,1) 0%, rgba(224,39,2,1) 46%, rgba(255,154,0,1) 100%);
        
    }

    .map {
        margin-left: auto;
        padding: 20px;
        border: 3px solid white;
    }
</style>


